<div class="heading">
	<div class="heading__card--dark">
		{{#if title}}
		<h1 class="heading__title--dark">{{title}}</h1>
		{{/if}}
		{{#if info}}
		<h1 class="heading__info--dark">{{info}}</h1>
		{{/if}}
	</div>
</div>