@use '../../lib/service.scss' as s;

@use '../../component/heading/style.scss' as heading;
@use '../../component/purchase-product/style.scss' as purchaseProduct;
@use '../../component/field/style.scss' as field;
@use '../../component/divider/style.scss' as divider;
@use '../../component/button/style.scss' as button;



.form-card {
	@include s.blur;
	
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: s.space(5);
	padding: s.space(5);
	border: 1px solid s.color(light);
	border-radius: 10px;
}

.purchase-item__block {
	display: flex;
	flex-direction: column;
	gap: 15px;


	&__2columnns {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 15px;
	}
}

.title {
	color: s.color(gray);
}