@use '../../lib/service.scss' as s;

@use '../../component/heading/style.scss' as heading;
@use '../../component/divider/style.scss' as divider;



.product-list {
	@include s.blur;

	border-radius: 10px;
	box-shadow: 0px 0px 5px #232323;
	padding: s.space(4);

	display: flex;
	flex-direction: column;
	gap: 10px;

	&--not-found {
		display: flex;
	flex-direction: row;
	justify-content: center;
	}
}

.product-list__header {
	display: grid;
	grid-template-columns: 10% 40% 25% 25%;
}

.purchase-item {
	display: grid;
	grid-template-columns: 10% 40% 25% 25%;
	padding: 30px 0;
}

.purchase-item__block {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.title {
	color: s.color(gray);
}

a {
	text-decoration: none;
	color: black
}