<div class="heading">
	<div class="heading__card">
		{{#if title}}
		<h1 class="heading__title">{{title}}</h1>
		{{/if}}
		{{#if info}}
		<h1 class="heading__info">{{info}}</h1>
		{{/if}}
	</div>
</div>