@use '../../lib/service.scss' as s;

body {
	font-family: 'Roboto', sans-serif;
	padding: 100px;
	background: radial-gradient(#05A5DF, #1F467F) fixed;
}

.main {
	display: flex;
	flex-direction: column;
	gap: s.space(10);
	padding: 0 s.space(20);
	}